services:
  vscode-server:
    container_name: my-code-server
    image: ghcr.io/nerasse/my-code-server:main
      # Uncomment to set custom UID/GID for the vscodeuser (useful for volume permissions)
      #- PUID=${PUID:-1000}
      #- PGID=${PGID:-1000}
    #store the data in the host (optional : uncomment the volumes section and change the path)
    #volumes:
    #  - /home/<USER>/appdata/my-code-server:/home/vscodeuser/
    
    #optional : add the network
    networks:
      - vscode-server-network

    labels:
      - traefik.http.middlewares.authentik-auth@file

#optional : add the network 
networks:
  vscode-server-network:
    external: false
    name: vscode-server-network

